//! **************************************************************************
// Written by: Map I.31 on Sat Dec 20 14:25:36 2008
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "C9" LEVEL 1;
COMP "sel" LOCATE = SITE "N17" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "G13" LEVEL 1;
COMP "out<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "out<1>" LOCATE = SITE "E12" LEVEL 1;
COMP "out<2>" LOCATE = SITE "E11" LEVEL 1;
COMP "out<3>" LOCATE = SITE "F11" LEVEL 1;
COMP "out<4>" LOCATE = SITE "C11" LEVEL 1;
COMP "out<5>" LOCATE = SITE "D11" LEVEL 1;
COMP "rst" LOCATE = SITE "K17" LEVEL 1;
COMP "out<6>" LOCATE = SITE "E9" LEVEL 1;
COMP "out<7>" LOCATE = SITE "F9" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "G14" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;
